.journey {
    display: flex;
}

.journey-station {
    flex: 1;
    font-size: 20px;
    line-height: 45px;
    height: 45px;
    border-bottom: 1px solid #eaeaea;
}

.journey-switch {
    width: 70px;
    height: 40px;
    line-height: 40px;
    transition-property: transform;
    transition-duration: 0.3s;
}

.journey-switch-reverse {
    transform: rotateZ(180deg);
}

.journey-input {
    color: #000;
    width: 100%;
    margin-left: 0;
    margin-top: 8px;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: #fff;
    padding: 0;
    line-height: 1.5;
}

.journey-to {
    text-align: right;
}
