.submit {
    padding: 10px 0 17px 0;
}

.submit-button {
    background-color: #f90;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 6px;
    border: 0;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
}
