.range-slider {
    padding: 50px 0 30px;
}

.range-slider .slider {
    position: relative;
    width: 60%;
    height: 1px;
    margin: 0 auto;
    background: #c7ced4;
}

.range-slider .slider .slider-range {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    height: 1px;
    background: #3cc;
}

.range-slider .slider .slider-handle {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    margin-left: -17px;
    z-index: 1000;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #d0d6db;
    cursor: pointer;
    font-style: normal;
}

.range-slider .slider .slider-handle span {
    position: absolute;
    top: -23px;
    left: -6px;
    font-size: 15px;
    color: #666;
}
