.header-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.nav-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 44px;
}

.mask {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
